/indeed_python_jobs-title_rated.csv
/indeed_remote_entry-level_python_bachelors.csv
/jobs-test.csv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/csv-editor.xml
/.idea/Indeed Job Posting Scraper.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
test.csv
